.phoneLocked {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 10vh 0;

  &__hour {
    font-size: 3em;
    font-weight: var(--weight-bold);
  }

  &__recall {
    display: flex;
    padding: 16px 16px 16px 8px;
    background-color: var(--color-red);
    border: 2px solid var(--color-black);
    border-radius: var(--box-rounded-radius);
    animation: shake 1000ms ease-in-out infinite;

    .recall {
      &__img {
        width: 40px;
        margin-right: 16px;
      }

      &__content {
        text-align: left;
      }

      &__number {
        margin-top: 0;
        margin-bottom: 0.2em;
        font-weight: var(--weight-semi-bold);
      }

      &__infos {
        margin-bottom: 0;
        font-size: 0.9em;
      }
    }
  }

  &__message {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 8px;
    text-align: left;
    background-color: var(--color-whiteDimmed);
    border: 2px solid var(--color-black);
    border-radius: var(--box-rounded-radius);

    .message {
      &__contact {
        margin-top: 0;
        margin-bottom: 0.2em;
        font-weight: var(--weight-semi-bold);
      }

      &__message {
        margin-bottom: 0;
        font-size: 0.9em;
      }
    }
  }
}

@keyframes shake {
  0%, 27.5% {
    transform: rotate(2deg) scale(0.98);
  }

  12.5%, 37.75%  {
    transform: rotate(-2deg) scale(1.02);
  }

  25%, 50% {
    transform: rotate(0deg) scale(1);
  }
  
}