

.screenContainer {
  --screenContainer-margeX: 32px;
  --screenContainer-margeY: 32px;
  --screenContainer-paddingX: 32px;
  --screenContainer-paddingY: 32px;

  box-sizing: border-box;
  width: calc(100% - (var(--screenContainer-margeX) * 2));
  max-width: 1100px;
  height: calc(100% - (var(--screenContainer-margeY) * 2));
  min-height: 40vh;
  max-height: min(700px, 65vh);
  padding: var(--screenContainer-paddingY) var(--screenContainer-paddingX);
  margin: auto;
  background-color: var(--color-white);
  border: 5px solid var(--color-black);
  border-radius: var(--box-rounded-radius);
  box-shadow: 6px 6px 0 var(--color-black);

  .-isPlayer & {
    max-height: 700px;

    --screenContainer-margeX: 16px;
    --screenContainer-margeY: 16px;
    --screenContainer-paddingX: 24px;
    --screenContainer-paddingY: 24px;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100vw;
    height: calc(100 * var(--vhRes, 1vh));
    content: '';
    background-color: var(--color-primary);
    transform: translate3d(-50%, -50%, 0);
  }

  // colors
  &.-enigme1::after {
    background-color: var(--color-enigme1);
  }

  &.-enigme2::after {
    background-color: var(--color-enigme2);
  }

  &.-enigme3::after {
    background-color: var(--color-enigme3);
  }

  &.-green::after {
    background-color: var(--color-green);
  }

  &.-red::after {
    background-color: var(--color-red);
  }

  &.-blue::after {
    background-color: var(--color-blue);
  }

  &.-yellow::after {
    background-color: var(--color-yellow);
  }
}