.vjs-text-track-display {
  max-height: 100vh;

  & > div {
    margin: 3%!important;
  }

  .vjs-text-track-cue {
    font-size: 26px!important;

    & > div {
      display: block!important;
      padding: 12px 36px!important;
      font-family: 'grenadine-mvb', arial, sans-serif!important;
      color: var(--color-black)!important;
      background-color: var(--color-white)!important;
      border: 3px solid var(--color-black);
      border-radius: var(--box-rounded-radius);
      box-shadow: 6px 6px 0 var(--color-black);

      // style bu video-js
      // direction: ltr; writing-mode: horizontal-tb; unicode-bidi: plaintext; text-align: center; font: 43.66px sans-serif; white-space: pre-line; position: absolute; width: 929.267px; inset: 783.267px 0px 0px; height: 90px; background-color: rgba(0, 0, 0, 0);
    }
  }
}

.vjs-loading-spinner {
  display: inherit!important;
  visibility: inherit!important;
  opacity: 0!important;
  transition: opacity 500ms 0s ease-in-out;
  animation: none!important;

  .vjs-waiting & {
    opacity: 1!important;
    transition-delay: 800ms;
  }
}