:root {
  // COLORS
  --color-black: #{$black};
  --color-blackDimmed: #{$blackDimmed};
  --color-white: #{$white};
  --color-whiteDimmed: #{$whiteDimmed};
  --color-primary: #{$primary};
  --color-enigme1: #{$enigme1};
  --color-enigme2: #{$enigme2};
  --color-enigme3: #{$enigme3};
  --color-green: #{$green};
  --color-red: #{$red};
  --color-blue: #{$blue};
  --color-yellow: #{$yellow};
  --color-disabled: #{$disabled};
  --color-orange-highlighted: #{$orange-highlighted};
  --color-blue-highlighted: #{$blue-highlighted};
  --color-purple-highlighted: #{$purple-highlighted};

  // BORDER RADIUS
  --box-rounded-radius: 25px;
  @media screen and (min-width: 992px) { 
    --box-rounded-radius: 35px;
  }
  
  // FONT WEIGHT
  --weight-regular: 300;
  --weight-medium: 400;
  --weight-bold: 600;

  // BEZIER
  --custom-bezier: cubic-bezier(.2,0,.25,1);
}
