/* Color Sass variables to move to own file */

// $bg-color: $black;
// $text-color: dynamic-color(bg-color);

/* Fonction sass qui prend en argument la couleur de fond et selon luminosité retourne noir/blanc, utiliser avec valeur HSL dans variables */

@function  dynamic-color($color) {
    $font-color: $black;
    @if (lightness($color) > 50%) {
        $font-color: $black;
    } @else {
        $font-color: $white;
    }
    @return $font-color;
};

/** Exemple d'intégration **/ 

// .button {
//     width: 200px;
//     padding: 18px 36px 16px;
//     color: black;
//     cursor: pointer;
//     background-color: $bg-color;
//     border: 3px solid black;
//     border-radius: 50px;
//     box-shadow: 6px 6px 0 black;
//     display: flex;
//     justify-content: center;
//     font-weight: bold;
//     font-family: 'arial';
//     color: dynamic-color($bg-color);
// }



