@import url("https://use.typekit.net/skn1apu.css");

$serif-font: serif;
$sans-serif-font: arial, sans-serif;

$font: 'grenadine-mvb', #{$sans-serif-font};

@mixin f-h1() {
  font-family: $font;
  font-weight: 500;
}

@mixin f-h2() {
  font-family: $font;
  font-weight: 500;
}

@mixin f-h3() {
  font-family: $font;
  font-weight: 500;
}

@mixin f-body() {
  font-family: $font;
  font-weight: 300;
}

@mixin f-link() {
  font-family: $font;
  font-size: 0.9rem;
}
