$orange: hsl(30, 91, 58, 1);
$blue: hsl(229, 100, 65, 1);
$purple: hsl(251, 54, 49, 1);
$black: hsl(0, 0, 0, 1);
$white: hsl(0, 0, 100, 1);


$blackDimmed: hsl(0, 0%, 17%);
$whiteDimmed: hsl(0, 0%, 96%);
$primary: hsl(30, 91%, 58%);
$enigme1: hsl(229, 100%, 65%);
$enigme2: hsl(251, 54%, 49%);
$enigme3: hsl(30, 91%, 58%);
$green: hsl(124, 100%, 39%);
$red: hsl(9, 100%, 65%);
$yellow: hsl(53, 100%, 65%);
$disabled: hsl(0, 0%, 85%);
$orange-highlighted: hsl(30, 100%, 70%);
$blue-highlighted: hsl(228, 100%, 72%);
$purple-highlighted: hsl(251, 100%, 75%);